header nav ul li:nth-of-type(6) a{
	color: #FF0000;
}
/*标题*/
.title{
	width: 1205px;
	height: 75px;
	margin: 0px auto;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title div{
	width: 170px;
	height: 75px;
	font-size: 12px;
	display: flex;
	align-items: center;
	position: relative;
}
/*广告图*/
.banner{
	width: 1205px;
	height: 385px;
	margin: 0px auto;
	background: url(../images/cooperation.jpg) no-repeat center center;
}
/*页面主体*/
.main{
	width: 1205px;
	height: 460px;
	margin: 0px auto;
	overflow: hidden;
}
.main ul{
	width: 1206px;
	height: 230px;
	border-bottom: 1px solid #dedede;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.main ul li{
	width: 345px;
	height: 230px;
	margin-top: 40px;
	overflow: hidden;
}
.main ul li h3{
	color: #333;
	
}
.main ul li div{
	width: 40px;
	height: 2px;
	background-color: #dedede;
	margin-top: 20px;
	margin-bottom: 25px;
}
.main ul li div span{
	display: block;
	width: 0px;
	height: 2px;
	background-color: #c31618;
	transition: width 0.5s;
}
.main ul li p{
	color: #bbb;
}
.main ul li:hover div span{
	width: 40px;
	transition: width 0.5s;
}
.main ul li:hover h3{
	color: #c11615;
}
